@contentWidth:1200px;
@fontSize:16px;

.background {
  background: #3E4452;
  height: 100vh;
  overflow: hidden;
}
/*滚动条样式*/
.scrollBar::-webkit-scrollbar {
  width: 0;
  /*height: 4px;*/
}
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
  background: rgba(0,0,0,0.2);
}
.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}
.mainContent{
  position: fixed;left: 0;right: 0;bottom: 0;top:65px;overflow: hidden;
}
.scrollContent{
  width: 100%;height: 100%;overflow-y: auto;
  .ContentBox{
    width: 1200px;margin: 0 auto;
  }
}
.scrollContent::-webkit-scrollbar {
  width: 10px;
  /*height: 4px;*/
}
.scrollContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
  background: rgba(0,0,0,0.2);
}
.scrollContent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}